.logo-lg{
    width: 14rem;
    height: 14rem;
    padding: 0;
    margin: 0;
}

.empty {
    flex: 0 0 7rem;
    background: none;
    width: 7rem;
    height: 7rem;
    padding: 0;
    margin: 0;
}

.bg-blue {
    flex: 0 0 7rem;
    background-color: #0066CC;
    width: 7rem;
    height: 7rem;
    padding: 0;
    margin: 0;
}

.bg-indigo {
    flex: 0 0 7rem;
    background-color: #0000FF;
    width: 7rem;
    height: 7rem;
    padding: 0;
    margin: 0;
}

.bg-purple {
    flex: 0 0 7rem;
    background-color: #3333DD;
    width: 7rem;
    height: 7rem;
    padding: 0;
    margin: 0;
}